<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>小破站</title>
    <script src="webjars/jquery/3.6.1/jquery.min.js"> </script>
    <script type="text/javascript">
        console.log("jiu")
        alert("111")

        function hhh() {
            console.log("jiu")
            $.ajax({
                url: "/Stainfo",
                type: "POST",
                data: {
                    "p":"123"
                },

                dataType: 'json',
                success: function (data) {
                    alert("666")
                }
            })
        }
    </script>
</head>

<body>

    <input type="button" id ="login" value = "login" onclick="hhh()">


</body>
</html>